<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title: 'About'}); %>
  <script src="/js/status.js?<%=rev%>" defer></script>
  <div class="container page">
    <div class="page-header">About</div>

    <div class="section">
      <div class="section-header">What is trace.moe?</div>
      <p>
        <b>trace.moe is an Anime Scene Search Engine</b> that helps users to trace back the original
        anime by a screenshot. It search in ~30000 hours of anime and find the best matching scene.
        It can tell the anime, the episode and the exact time that scene appears. Since the search
        result may not be correct, it provides a few seconds of preview for verification. There has
        been a lot of anime screencaps and GIFs spreading around the internet without quoting the
        source. And trace.moe is built to fix that, helping people to get to know the source anime,
        not just some random piece of work in content farms.
      </p>
      <p>
        trace.moe is a free service and has no Ads. It relies entirely on donations for its
        operational costs.
      </p>
    </div>
    <div class="section">
      <div class="section-header">What trace.moe is NOT</div>
      <p>
        <b>This website is not for watching anime</b>. The server has effective measures to prevent
        users from accessing the original video beyond the preview limit. If you ask me where you
        can watch the anime in search result, I'll show you the way to Youtube, Amazon, Netflix,
        bilibili, etc (depending on your country).
      </p>
      <p>
        <b>trace.moe is not for comics / anime-style artworks</b>. This search engine only index
        anime officially published through TV/Web/DVD/Bluray. If you wish to search artwork /
        wallpapers, try to use <a href="https://saucenao.com/">SauceNAO</a> and
        <a href="https://iqdb.org/">iqdb.org</a>
      </p>
      <p>
        <b>trace.moe is not an AI</b>. It does not have a neural network that recognize and
        understand the things (like characters) on the images. It uses a technology called
        <a href="https://en.wikipedia.org/wiki/Content-based_image_retrieval"
          >Content-based image retrieval</a
        >
        which compares only the colors and patterns of the images instead of trying to understanding
        the image. Thus, it is nothing related to Machine Learning and is not train-able. You may
        read the
        <a href="https://github.com/soruly/slides">presentations slides</a> for technical details.
      </p>
    </div>
    <div class="section">
      <div class="section-header">System Status</div>
      <p>
        This search engine index latest anime automatically, usually within hours after broadcast.
      </p>
      <p>Last Database Update: <span id="lastUpdate"></span></p>
      <p>Database Index Size: <span id="dbSize"></span></p>
    </div>

    <div class="section">
      <div class="section-header">Credit</div>

      <div class="section-item">
        Dr. Mathias Lux (<a href="http://www.lire-project.net/">LIRE Project</a>)<br />
      </div>
      <small
        >Lux Mathias, Savvas A. Chatzichristofis. Lire: Lucene Image Retrieval – An Extensible Java
        CBIR Library. In proceedings of the 16th ACM International Conference on Multimedia, pp.
        1085-1088, Vancouver, Canada, 2008
        <a href="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025"
          >Visual Information Retrieval with Java and LIRE</a
        ></small
      >

      <div class="section-item">
        Josh (<a href="https://anilist.co/">Anilist</a>) and Anilist team
      </div>

      <div class="section-item">Patreons and Supporters:</div>
      <a href="https://chenxublog.com">chenxuuu</a>
      <a href="http://desmonding.me/">Desmond</a>
      <a href="http://imvery.moe/">FangzhouL</a>
      <a href="https://fym.moe/">FiveYellowMice</a>
      Snadzies
      <a href="https://taw.moe">thatanimeweirdo</a>
      WelkinWill
      <a href="https://twitter.com/yuriks">yuriks</a>
    </div>
  </div>
  <%- include('footer'); %>
</html>
