<footer class="footer">
  <div class="container">
    <div class="section">
      <div class="section-header"><a href="/">trace.moe</a></div>
      <div class="section-item"><a href="/news">News</a></div>
      <div class="section-item"><a href="https://github.com/soruly/trace.moe">GitHub</a></div>
      <div class="section-item"><a href="https://discord.gg/K9jn6Kj">Discord</a></div>
      <div class="section-item"><a href="https://t.me/whatanimeupdates">Telegram</a></div>
      <div class="section-item"><a href="https://soruly.github.io/trace.moe/">API Docs</a></div>
    </div>

    <div class="section">
      <div class="section-header">Apps</div>
      <div class="section-item"><a href="https://telegram.me/WhatAnimeBot">Telegram Bot</a></div>
      <div class="section-item">
        <a
          href="https://chrome.google.com/webstore/detail/search-anime-by-screensho/gkamnldpllcbiidlfacaccdoadedncfp"
          >Chrome Extension</a
        >
      </div>
      <div class="section-item">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/search-anime-by-screenshot/"
          >Firefox Add-on</a
        >
      </div>
      <div class="section-item">
        <a href="https://addons.opera.com/en/extensions/details/search-anime-by-screenshot/"
          >Opera Add-on</a
        >
      </div>
    </div>

    <div class="section">
      <div class="section-header">Donate</div>
      <div class="section-item"><a href="https://www.patreon.com/soruly">Patreon</a></div>
      <div class="section-item">
        <a href="https://github.com/sponsors/soruly">GitHub Sponsors</a>
      </div>
      <div class="section-item"><a href="https://www.paypal.me/soruly">PayPal</a></div>
      <div class="section-item"><a href="/account">Account</a></div>
    </div>

    <div class="section">
      <div class="section-header">Help</div>
      <div class="section-item"><a href="/faq">FAQ</a></div>
      <div class="section-item"><a href="/about">About</a></div>
      <div class="section-item"><a href="/terms">Terms &amp; Privacy</a></div>
      <div class="section-item"><a href="https://t.me/soruly">Contact</a></div>
      <div class="section-item"><a href="https://status.trace.moe">System Status</a></div>
    </div>
  </div>
</footer>
<script src="/js/analytics.js?<%=rev%>" defer></script>
