<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#f9f9fb" />
<meta
  name="description"
  content="Search Anime by ScreenShot. Lookup the exact moment and the episode."
/>
<meta
  name="keywords"
  content="Anime Scene Search, Search by image, Anime Image Search, アニメのキャプ画像"
/>
<title><%=title%> - trace.moe</title>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/png" href="/favicon128.png" sizes="128x128" />
<link href="/css/style.css?<%=rev%>" rel="stylesheet" />
