.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.icon-check::after {
  content: "🗹";
}
.icon-cross::after {
  content: "☐";
}
.icon-search::after {
  content: "🔍";
}
.icon-volume-off::after {
  content: "🔈";
}
.icon-volume-up::after {
  content: "🔊";
}

.form {
  font-size: 0.85rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}

input[type="file"] {
  width: 180px;
}

.form-control {
  background-color: #ffffff;
  border-color: #cccccc;
}
.form-control[disabled] {
  background-color: #eeeeee;
  border-color: #cccccc;
}

input[type="text"],
input[type="url"] {
  border: 1px solid #cccccc;
  padding: 0.5rem 0.8rem;
  outline: 0;
}

input[type="text"]:focus,
input[type="url"]:focus {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  border: 1px solid #b0c1ff;
}

input[type="text"] {
  width: 6rem;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 4px;
  outline: 0;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #b0c1ff;
  border-color: #b0c1ff;
}
.message-text {
  display: inline-block;
}

.search-image {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}
.search-image .search-image-text {
  font-size: 0.8rem;
}
.search-image .query-image {
  width: 160px;
  overflow: hidden;
}
.search-image #originalImage {
  transform: scale(0.25);
  transform-origin: top left;
}
.result-list {
  width: 280px;
}
.result {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}
.result.hidden {
  display: none;
}
.result .title {
  width: 100%;
}
.result .title {
  color: #2196f3;
  font-size: 0.9rem;
}
.result .ep {
  color: #f44336;
  font-size: 0.75rem;
}
.result .time {
  color: #4caf50;
  font-size: 0.75rem;
}
.result .similarity {
  color: #607d8b;
  font-size: 0.75rem;
}
.result video {
  max-width: 160px;
}

.player-info-pane {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
}

.player-pane {
  position: relative;
  color: #666666;
}

.player-pane canvas {
  background: #ffffff;
}
.player-pane .loading {
  width: 640px;
  height: 360px;
  top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
}

.player-pane .player-control {
  visibility: hidden;
  position: relative;
  height: 1rem;
  border-top: 1px dashed #b0c1ff;
}
.player-pane .progress-bar-control {
  position: absolute;
  color: #b0c1ff;
}
.player-pane .sound-btn {
  position: absolute;
  right: 0;
  font-size: 0.8rem;
  width: 1rem;
  cursor: pointer;
}

.player-pane .player-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}
.player-pane .file-name-display {
  font-size: 0.7rem;
  width: 500px;
  height: 0.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.player-pane .time-code-display {
  font-size: 0.7rem;
  height: 0.7rem;
}

.info-pane {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5em;
  color: #666666;
  opacity: 0;
  transition: all 300ms;
}

.info-pane .divider {
  border-bottom: 1px dashed #b0c1ff;
}

.info-pane .detail {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}

.info-pane .table {
  display: block;
  max-width: 400px;
}

.info-pane .table {
  margin-top: 10px;
}

.info-pane .subtitle {
  font-size: 12px;
}

.info-pane .title {
  font-size: 18px;
}

.info-pane table td {
  padding: 3px;
}

.info-pane #table td:first-child {
  min-width: 60px;
}

.info-pane td {
  border-bottom: 1px dotted #cccccc;
  vertical-align: middle;
  padding: 2px;
}
.info-pane tr:last-child td {
  border-bottom: none;
}

.info-pane .foot-notes {
  float: right;
  font-size: 0.6rem;
}

@media (min-width: 1020px) {
}

.ripple {
  position: relative;
  left: -80px;
  top: -220px;
  box-sizing: content-box;
  display: block;
  border-style: double;
  border-radius: 800px;
  animation: ripple 1s cubic-bezier(0, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    transform: translate(350px, 350px);
    border-width: 50px;
    border-color: #ffffff;
    opacity: 1;
  }
  100% {
    width: 800px;
    height: 800px;
    transform: translate(0px, 0px);
    border-width: 0;
    border-color: #0000ff;
    opacity: 0;
  }
}
.spinning {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@media (prefers-color-scheme: dark) {
}
