.drop-target {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 160px;
  background: hsla(0, 0%, 100%, 0);
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 50ms ease-out;
  backdrop-filter: blur(0);
  z-index: 1;
}
.drop-target.dropping {
  background: hsla(0, 0%, 100%, 0.7);
  border: 0.5rem dashed var(--theme-strong-color);
  color: var(--theme-strong-color);
  transition: all 50ms ease-out;
  backdrop-filter: blur(3px);
  z-index: 100;
}
.drop-effect {
  position: absolute;
  top: 0;
  width: 630px;
  background: hsla(0, 0%, 100%, 0);
  border: 5px solid transparent;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 50ms ease-out;
  backdrop-filter: blur(0);
  z-index: 0;
}
.drop-effect.dropping {
  background: hsla(0, 0%, 100%, 0.7);
  border: 5px dashed var(--theme-strong-color);
  color: var(--theme-strong-color);
  transition: all 50ms ease-out;
  backdrop-filter: blur(5px);
  z-index: 100;
}

body {
  display: flex;
  justify-content: center;
}
.search-bar {
  opacity: 0;
  position: absolute;
  top: calc(50% - 80px);
  transform: translate(0, -50%);
  z-index: 20;
  transition: opacity 300ms ease-out;
}
.search-bar .greet {
  display: block;
  position: absolute;
  top: -3rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-weak-color);
}
.search-bar.ready .greet {
  display: none;
}
.search-bar .logo {
  width: 300px;
  display: none;
  color: var(--text-weak-color);
}
.search-bar.ready .logo {
  display: block;
}
.search-bar a:hover {
  text-decoration: none;
}
.search-bar .logo .title {
  font-size: 1.5rem;
}
.search-bar .logo .subtitle {
  font-size: 0.8rem;
}
.search-bar.ready {
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translate(0, 0);
  box-shadow: 0 0 20px var(--shadow-color);
  background: repeating-linear-gradient(
        135deg,
        hsla(0, 0%, 100%, 0.8) 0,
        hsla(0, 0%, 100%, 0.8) 2px,
        hsla(0, 0%, 100%, 0.3) 2px,
        hsla(0, 0%, 100%, 0.3) 4px
      )
      50% 50%,
    hsla(0, 0%, 100%, 0);
}
.search-bar-content {
  max-width: 960px;
  margin: auto;
  font-size: 0.85rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  box-shadow: 0 0 20px var(--shadow-color);
  background: hsla(0, 0%, 100%, 0.8);
}
.search-bar-content .form-controls {
  margin: 2rem 0 2rem 2rem;
}
#autoSearch,
.search-bar .form-controls input[type="submit"] {
  display: none;
}
.search-bar-content .drop-target {
  width: 100%;
  height: 100px;
  display: none;
}
.search-bar.ready .search-bar-content {
  width: 100%;
  padding: unset;
  background: transparent;
  box-shadow: unset;
}
.search-bar .image-url,
.search-bar .anilist-filter {
  padding: 0 2rem 0 1rem;
  line-height: 2rem;
  font-size: 0.75rem;
  vertical-align: bottom;
  outline: 0;
  border: 1px solid var(--theme-weak-color);
  border-radius: 3px;
  transition: box-shadow 100ms ease-out;
}

.search-bar .image-url {
  width: 290px;
  display: inline-block;
}
.search-bar .anilist-filter {
  width: 3rem;
  display: none;
}
.search-bar .image-url:focus,
.search-bar .anilist-filter:focus {
  box-shadow: 0 0 10px var(--theme-weak-color);
  border: 1px solid var(--theme-weak-color);
}
.search-bar .anilist-filter[disabled],
.search-bar .image-url[disabled] {
  background-color: var(--shadow-color);
  border-color: var(--shadow-color);
}
.search-bar .file {
  position: relative;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  left: -2.5rem;
  vertical-align: bottom;
}
.search-bar.ready .file {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  line-height: 1rem;
  left: -2rem;
  vertical-align: sub;
}
.search-bar.ready .form-controls {
  margin: 0;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
}
.search-bar.ready .form-controls form {
  display: inline-block;
}
.search-bar .file::after {
  content: "📁";
}
.search-bar .file:hover::after {
  content: "📂";
}
.icon-check::after {
  content: "✅";
}
.icon-cross::after {
  content: "⬜";
}
.icon-search::after {
  content: "🔍";
}
.icon-volume-off::after {
  content: "🔈";
}
.icon-volume-up::after {
  content: "🔊";
}
.search-bar .file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  opacity: 0;
  cursor: inherit;
}
.search-bar .cut-borders-btn {
  color: var(--text-strong-color);
  background-color: transparent;
  outline: 0;
  border: 0;
  display: none;
  vertical-align: bottom;
  cursor: pointer;
  padding: 0;
  font-size: 0.75rem;
  line-height: 1.6rem;
}
.search-bar .cut-borders-btn[disabled] {
  cursor: default;
}
.search-bar.ready .anilist-filter,
.search-bar.ready .cut-borders-btn,
.search-bar.ready .search-btn {
  display: inline-block;
}
.search-bar .search-btn {
  background: var(--blank-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px var(--shadow-color);
  display: none;
  cursor: pointer;
  line-height: 2.5rem;
  margin: 0.2rem 0 0.2rem 0;
  padding: 0 1.2rem 0 1.2rem;
  transition: color 100ms ease-out, box-shadow 100ms ease-out, background 100ms ease-out;
  outline: 0;
}
.search-bar .search-btn:hover {
  box-shadow: 1px 1px 3px var(--theme-main-color);
  transition: color 100ms ease-out, box-shadow 100ms ease-out, background 100ms ease-out;
}
.search-bar .search-btn:active {
  box-shadow: 0 0 1px var(--theme-main-color);
  transform: translate(1px, 1px);
  transition: color 100ms ease-out, box-shadow 100ms ease-out, background 100ms ease-out;
}
.search-bar .search-btn[disabled],
.search-bar .search-btn[disabled]:hover,
.search-bar .search-btn[disabled]:active {
  cursor: wait;
  box-shadow: none;
  color: var(--shadow-color);
  background: var(--shadow-color);
  transition: color 100ms ease-out, box-shadow 100ms ease-out, background 100ms ease-out;
}

.wrap {
  opacity: 0;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  max-width: 960px;
  margin: 4rem auto;
  transition: all 300ms ease-out 200ms;
  z-index: 10;
}

.search-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  background: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 90%,
        hsla(0, 0%, 100%, 0) 90%,
        hsla(0, 0%, 100%, 0) 100%
      )
      0 50%,
    linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 90%,
        hsla(0, 0%, 100%, 0) 90%,
        hsla(0, 0%, 100%, 0) 100%
      )
      50% 0,
    hsla(0, 0%, 100%, 0);
  background-size: 20px 20px;
}
.search-image .message-text {
  color: var(--text-strong-color);
  font-size: 0.7rem;
  line-height: 1rem;
  height: 1rem;
  width: 100%;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-top: 1px dashed var(--theme-weak-color);
}
.search-image .detail {
  color: var(--text-strong-color);
  font-size: 0.8rem;
  text-align: center;
  flex-grow: 1;
}
.search-image .query-image {
  width: 160px;
  overflow: hidden;
}
.search-image #originalImage {
  transform: scale(0.25);
  transform-origin: top left;
}
.result-list {
  width: 300px;
  margin-bottom: 2rem;
}
.result {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  box-shadow: 0 0 20px var(--shadow-color);
  text-shadow: 1px 1px 5px var(--shadow-color);
  margin: 0.5rem 0 0.5rem 0;
  transition: all 300ms ease-out;
  opacity: 0;
  background: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 90%,
        hsla(0, 0%, 100%, 0) 90%,
        hsla(0, 0%, 100%, 0) 100%
      )
      0 50%,
    linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 90%,
        hsla(0, 0%, 100%, 0) 90%,
        hsla(0, 0%, 100%, 0) 100%
      )
      50% 0,
    hsla(0, 0%, 100%, 0);
  background-size: 20px 20px;
}
.result:hover {
  box-shadow: 0 0 10px var(--theme-main-color);
  transition: all 100ms ease-out;
}
.result:active {
  box-shadow: 0 0 10px var(--theme-main-color);
  transform: translate(1px, 1px);
  transition: all 100ms ease-out;
}
.result.active {
  box-shadow: 0 0 10px var(--theme-main-color);
  transition: all 100ms ease-out;
}
.result.hidden {
  display: none;
}
.result .detail {
  padding: 0.5rem;
  line-height: 1.5rem;
}
.result .title {
  color: var(--theme-strong-color);
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px dashed var(--theme-weak-color);
}
.result .ep {
  color: var(--red-color);
  font-size: 0.75rem;
}
.result .time {
  color: var(--green-color);
  font-size: 0.75rem;
}
.result .similarity {
  color: var(--text-main-color);
  font-size: 0.75rem;
}
.result video {
  max-width: 160px;
  display: block;
}
.result-list button {
  color: var(--text-main-color);
  background-color: var(--blank-color);
  outline: 0;
  border: 1px solid var(--shadow-color);
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 3px var(--shadow-color);
  transition: all 100ms ease-out;
}
.result-list button:hover {
  box-shadow: 1px 1px 5px var(--theme-main-color);
  transition: all 100ms ease-out;
}
.result-list button:active {
  box-shadow: 0 0 2px var(--theme-main-color);
  transform: translate(1px, 1px);
  transition: all 100ms ease-out;
}

.player-info-pane {
  margin-bottom: 2rem;
  box-shadow: 0 0 20px var(--shadow-color);
  background: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 95%,
        hsla(0, 0%, 100%, 0) 95%,
        hsla(0, 0%, 100%, 0) 100%
      )
      0 50%,
    linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0.9) 0,
        hsla(0, 0%, 100%, 0.9) 95%,
        hsla(0, 0%, 100%, 0) 95%,
        hsla(0, 0%, 100%, 0) 100%
      )
      50% 0,
    hsla(0, 0%, 100%, 0);
  background-size: 50px 50px;
}

.player-pane {
  position: relative;
}

.player-pane .preview {
  background: var(--blank-color);
  display: block;
}
.player-pane .loading {
  width: 640px;
  height: 360px;
  top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  display: none;
}

.player-pane .player-info {
  opacity: 0;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  transition: all 300ms ease-out;
  color: var(--text-main-color);
}
.player-pane .file-name-display {
  font-size: 0.7rem;
  flex-grow: 1;
  max-width: 500px;
  height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.player-pane .time-code-display {
  font-size: 0.7rem;
  height: 0.7rem;
  padding-right: 1rem;
}
.player-pane .player-control {
  display: none;
  opacity: 0;
  position: relative;
  height: 1rem;
  border-top: 1px dashed var(--theme-weak-color);
  transition: all 300ms ease-out;
}
.player-pane .progress-bar-control {
  font-size: 0.7rem;
  position: absolute;
  color: var(--theme-weak-color);
  transition: all 500ms cubic-bezier(0.19, 1.37, 0.57, 1);
}
.player-pane .sound-btn {
  position: absolute;
  top: -1.1rem;
  right: 0;
  font-size: 0.8rem;
  width: 1rem;
  cursor: pointer;
}

.info-pane {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5em;
  color: var(--text-strong-color);
  opacity: 0;
  transition: all 300ms ease-out;
  text-shadow: 1px 1px 5px var(--shadow-color);
}
.info-pane .title {
  font-size: 1.4rem;
  line-height: 2rem;
  width: calc(640px - 1.5rem);
  padding: 0 0.5rem 0 0.5rem;
  color: var(--theme-strong-color);
  border-left: 3px double var(--theme-strong-color);
}
.info-pane .subtitle {
  font-size: 0.8rem;
  line-height: 1rem;
  width: calc(640px - 1.5rem);
  padding: 0 0.5rem 0.2rem 0.7rem;
  color: var(--theme-main-color);
  border-left: 3px double var(--theme-strong-color);
}
.info-pane .divider {
  border-bottom: 1px dashed var(--theme-strong-color);
}
.info-pane .poster img {
  opacity: 0;
  transition: all 300ms ease-out;
}
.info-pane .detail {
  width: 640px;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}
.info-pane .table {
  flex-grow: 1;
  display: block;
  border-spacing: 10px 0;
  border-collapse: separate;
}
table td:last-child {
  width: 100%;
}
.info-pane td {
  border-bottom: 1px dotted var(--shadow-color);
  vertical-align: middle;
  padding: 0.5rem;
}
.info-pane tr:last-child td {
  border-bottom: none;
}
.info-pane .foot-notes {
  text-align: right;
  font-size: 0.6rem;
}

@media (max-width: 950px) {
  .search-bar.ready .logo {
    display: none;
  }
  .search-bar-content {
    justify-content: center;
  }
  .wrap {
    justify-content: space-around;
  }
  .result-list {
    width: 640px;
    height: 30vh;
    overflow-y: scroll;
    padding: 0 20px 0 20px;
    border-bottom: 1px dashed var(--theme-main-color);
    margin-bottom: 1rem;
  }
}

.ripple {
  position: relative;
  left: -80px;
  top: -220px;
  box-sizing: content-box;
  display: block;
  border-style: double;
  border-radius: 800px;
  animation: ripple 1s cubic-bezier(0, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    transform: translate(350px, 350px);
    border-width: 50px;
    border-color: var(--theme-weak-color);
    opacity: 1;
  }
  100% {
    width: 800px;
    height: 800px;
    transform: translate(0px, 0px);
    border-width: 0;
    border-color: var(--theme-strong-color);
    opacity: 0;
  }
}
.spinning {
  animation: spin 2s infinite linear;
}

@media (prefers-color-scheme: dark) {
}
