:root {
  --theme-strong-color: hsl(227, 100%, 60%);
  --theme-main-color: hsl(227, 100%, 70%);
  --theme-weak-color: hsl(227, 100%, 85%);
  --text-strong-color: hsl(0, 0%, 20%);
  --text-main-color: hsl(0, 0%, 40%);
  --text-weak-color: hsl(0, 0%, 60%);
  --shadow-color: hsl(0, 0%, 80%);
  --blank-color: hsl(0, 0%, 100%);
  --red-color: hsl(0, 100%, 66%);
  --green-color: hsl(120, 100%, 35%);
  --bg-main-color: hsla(240, 100%, 91%, 1);
  --bg-draw-color: hsla(240, 33%, 97%, 0.9);
  --bg-line-color: hsla(0, 0%, 100%, 0);
  --footer-main-color: hsla(0, 0%, 100%, 0);
  --footer-draw-color: hsla(0, 0%, 100%, 0.8);
  --footer-line-color: hsla(0, 0%, 100%, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-strong-color: hsl(227, 100%, 85%);
    --theme-main-color: hsl(227, 100%, 75%);
    --theme-weak-color: hsl(227, 35%, 35%);
    --text-strong-color: hsl(0, 0%, 80%);
    --text-main-color: hsl(0, 0%, 75%);
    --text-weak-color: hsl(0, 0%, 50%);
    --shadow-color: hsl(0, 0%, 25%);
    --blank-color: hsl(0, 0%, 10%);
    --red-color: hsl(0, 100%, 66%);
    --green-color: hsl(120, 100%, 35%);
    --bg-main-color: hsla(240, 30%, 30%, 1);
    --bg-draw-color: hsla(0, 0%, 10%, 0.9);
    --bg-line-color: hsla(0, 0%, 100%, 0);
    --footer-main-color: hsla(0, 0%, 0%, 0);
    --footer-draw-color: hsla(0, 0%, 15%, 0.8);
    --footer-line-color: hsla(0, 0%, 15%, 0.2);
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  margin-bottom: 160px;
  overflow-y: scroll;
  background: linear-gradient(
        90deg,
        var(--bg-draw-color) 0%,
        var(--bg-draw-color) 98%,
        var(--bg-line-color) 98%,
        var(--bg-line-color) 100%
      )
      50% 0,
    linear-gradient(
        0deg,
        var(--bg-draw-color) 0%,
        var(--bg-draw-color) 98%,
        var(--bg-line-color) 98%,
        var(--bg-line-color) 100%
      )
      0 50%,
    var(--bg-main-color);
  background-size: 80px 80px;
  font-family: Helvetica, Arial, Meiryo, microsoft jhenghei, microsoft yahei, sans-serif;
}

a,
a:hover {
  color: var(--theme-main-color);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: auto;
  max-width: 680px;
  margin: auto;
}

.page {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-shadow: 1px 1px 3px var(--shadow-color);
  color: var(--text-strong-color);
}
.page-header {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
}
.section {
  text-align: justify;
}
.section-header {
  font-size: 1.1rem;
  line-height: 1.5rem;
  border-bottom: 2px dashed var(--theme-weak-color);
  text-align: left;
}
.section-item {
  line-height: 2rem;
}
.page ol {
  padding-inline-start: 1rem;
}
.graphControl {
  text-align: center;
}

.footer {
  color: var(--text-main-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
        0deg,
        var(--footer-draw-color) 0,
        var(--footer-draw-color) 70%,
        var(--footer-line-color) 70%,
        var(--footer-line-color) 100%
      )
      0 50%,
    linear-gradient(
        90deg,
        var(--footer-draw-color) 0,
        var(--footer-draw-color) 70%,
        var(--footer-line-color) 70%,
        var(--footer-line-color) 100%
      )
      50% 0,
    var(--footer-main-color);
  background-size: 15px 15px;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
}
.footer .section {
  font-size: 0.8rem;
  padding: 1rem;
}
.footer .section-header {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed var(--theme-weak-color);
}
.footer .section-item {
  line-height: 1.2rem;
}

@media (max-width: 500px) {
  body {
    margin-bottom: 320px;
  }
  .footer {
    height: 320px;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .section {
    min-width: 140px;
  }
}

@media (max-width: 350px) {
  body {
    margin-bottom: 600px;
  }
  .footer {
    height: 600px;
  }
  .section {
    min-width: 250px;
  }
}
