html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  margin-bottom: 160px;
  overflow-y: scroll;
  background: linear-gradient(
        90deg,
        rgba(192, 192, 255, 0) 0%,
        rgba(192, 192, 255, 0.05) 1%,
        rgba(192, 192, 255, 0.15) 2%,
        rgba(192, 192, 255, 0.05) 3%,
        rgba(192, 192, 255, 0) 4%
      )
      50% 0,
    linear-gradient(
        0deg,
        rgba(192, 192, 255, 0) 0%,
        rgba(192, 192, 255, 0.05) 1%,
        rgba(192, 192, 255, 0.15) 2%,
        rgba(192, 192, 255, 0.05) 3%,
        rgba(192, 192, 255, 0) 4%
      )
      0 50%,
    rgba(245, 245, 250, 1);
  background-size: 80px 80px;
  font-family: sans-serif;
}

a,
a:hover {
  color: #006cca;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: auto;
  max-width: 680px;
  margin: auto;
}

.page {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-shadow: 1px 1px 3px #eeeeee;
  color: #333333;
}
.page-header {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
}
.section {
  text-align: justify;
}
.section-header {
  font-size: 1.1rem;
  line-height: 1.5rem;
  border-bottom: 2px dashed #b0c1ff;
  text-align: left;
}
.section-item {
  line-height: 2rem;
}
.page ol {
  padding-inline-start: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 33%,
        rgba(255, 255, 255, 1) 33%,
        rgba(255, 255, 255, 1) 66%,
        rgba(255, 255, 255, 0) 66%,
        rgba(255, 255, 255, 0) 100%
      )
      50% 50%,
    rgba(255, 255, 255, 0);
  background-size: 8px 8px;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
}
.footer .section {
  font-size: 0.8rem;
  padding: 1rem;
}
.footer .section-header {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed #b0c1ff;
}
.footer .section-item {
  line-height: 1.2rem;
}

@media (max-width: 500px) {
  body {
    margin-bottom: 320px;
  }
  .footer {
    height: 320px;
  }
  .footer .container {
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
}
