.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  z-index: 100;
  opacity: 1;
}
.overlayHidden {
  display: none;
}
.overlay > div {
  margin: 1rem;
}
.confirmBoxBody {
  color: var(--text-strong-color);
}
.confirmBoxBody > div:last-child {
  display: flex;
  justify-content: flex-end;
}
.confirmBoxBody > div:last-child button {
  margin: 0.3rem 0.3rem;
}
.confirmBoxBody > div:last-child button:first-child {
  color: var(--theme-main-color);
  background: var(--blank-color);
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  text-shadow: 1px 1px 5px var(--shadow-color);
  margin: 0.5rem 0 0.5rem 0;
  box-shadow: 0 0 20px var(--shadow-color);
  background-color: var(--blank-color);
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
.boxTitle {
  color: var(--theme-strong-color);
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed var(--theme-weak-color);
}
.boxBody {
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  width: 100%;
}
.boxBody table {
  flex-grow: 1;
  display: block;
  border-spacing: 0.5rem 0;
  border-collapse: separate;
}
.boxBody table td:first-child {
  min-width: 120px;
  white-space: nowrap;
}
.boxBody table td:last-child {
  width: 100%;
  font-family: monospace;
}
.boxBody table td {
  border-bottom: 1px dotted var(--shadow-color);
  vertical-align: middle;
  padding: 0.3rem 0;
}
.boxBody table tr:first-child td {
  border-top: 1px dotted var(--shadow-color);
}
.boxBody > form > div {
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0.5rem;
  align-items: center;
}
.boxBody table td > div {
  display: flex;
}
.boxBody > form > div > div {
  padding: 0 0.5rem;
  color: var(--text-weak-color);
}
.boxBody > form > div > div.error {
  color: var(--red-color);
}
.boxBody table td input[type="text"],
.boxBody table td input[type="email"],
.boxBody table td input[type="password"] {
  flex-grow: 1;
}
.boxBody input,
.boxBody button {
  padding: 0 0.5rem 0 0.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  vertical-align: bottom;
  outline: 0;
  color: var(--text-strong-color);
  background: var(--blank-color);
  border: 1px solid var(--theme-weak-color);
  border-radius: 3px;
  transition: box-shadow 100ms ease-out;
}
.boxBody input[type="submit"],
.boxBody button {
  color: var(--blank-color);
  background: var(--theme-main-color);
  cursor: pointer;
}
.boxBody button.cancelBtn {
  color: var(--theme-main-color);
  background: var(--blank-color);
}
.boxBody input:focus,
.boxBody button:focus {
  box-shadow: 0 0 10px var(--theme-weak-color);
  border: 1px solid var(--theme-weak-color);
}
.boxBody input[disabled],
.boxBody button[disabled] {
  background-color: var(--shadow-color);
  border-color: var(--shadow-color);
}
.meterBG {
  fill: var(--shadow-color);
}
.meterFG {
  fill: var(--theme-main-color);
}
.accountPriority {
  display: flex;
}
.accountPriority div {
  padding: 0 0.5rem;
  border-top: 1px solid var(--theme-weak-color);
  border-bottom: 1px solid var(--theme-weak-color);
  border-left: 1px solid var(--theme-weak-color);
  cursor: default;
}
.accountPriorityActive {
  color: var(--blank-color);
  background-color: var(--theme-main-color);
}
.accountPriority div:first-child {
  border-radius: 3px 0 0 3px;
}
.accountPriority div:last-child {
  border-right: 1px solid var(--theme-weak-color);
  border-radius: 0 3px 3px 0;
}
