.footer {
  color: var(--text-main-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
        0deg,
        var(--footer-draw-color) 0,
        var(--footer-draw-color) 70%,
        var(--footer-line-color) 70%,
        var(--footer-line-color) 100%
      )
      0 50%,
    linear-gradient(
        90deg,
        var(--footer-draw-color) 0,
        var(--footer-draw-color) 70%,
        var(--footer-line-color) 70%,
        var(--footer-line-color) 100%
      )
      50% 0,
    var(--footer-main-color);
  background-size: 15px 15px;
}
.container {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
  width: auto;
  max-width: 680px;
  margin: auto;
}
.section {
  font-size: 0.8rem;
  padding: 1rem;
}
.sectionHeader {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  border-bottom: 1px dashed var(--theme-weak-color);
}
.sectionItem {
  line-height: 1.2rem;
}

@media (max-width: 500px) {
  .footer {
    height: 320px;
  }
  .container {
    flex-wrap: wrap;
  }
  .section {
    min-width: 140px;
  }
}

@media (max-width: 350px) {
  .footer {
    height: 600px;
  }
  .section {
    min-width: 250px;
  }
}
