.main {
  min-height: calc(100dvh - 3rem - 2px);
}

@media (max-width: 500px) {
  .main {
    min-height: calc(100dvh - 5.5rem - 2px);
  }
}

.footer {
  color: var(--text-main-color);
  width: 100%;
  background-color: var(--footer-draw-color);
  background-size: 15px 15px;
}
.container {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
  width: auto;
  max-width: 680px;
  margin: auto;
}
.section {
  font-size: 0.8rem;
  padding: 0.5rem;
}
.sectionHeader {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  border-bottom: 1px dashed var(--theme-weak-color);
}
.sectionItem {
  line-height: 1.2rem;
}

@media (max-width: 500px) {
  .container {
    flex-wrap: wrap;
  }
  .section {
    min-width: 140px;
  }
}
