.infoPane {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5em;
  color: var(--text-strong-color);
  text-shadow: 1px 1px 5px var(--shadow-color);
}
.title {
  font-size: 1.4rem;
  line-height: 2rem;
  /* width: calc(640px - 1.5rem); */
  padding: 0 0.5rem 0 0.5rem;
  color: var(--theme-strong-color);
  border-left: 3px double var(--theme-strong-color);
}
.subtitle {
  font-size: 0.8rem;
  line-height: 1rem;
  /* width: calc(640px - 1.5rem); */
  padding: 0 0.5rem 0.2rem 0.7rem;
  color: var(--theme-main-color);
  border-left: 3px double var(--theme-strong-color);
}
.divider {
  border-bottom: 1px dashed var(--theme-weak-color);
}
.poster img {
  min-width: 230px;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.detail {
  width: 640px;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .detail {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.infoPane table {
  flex-grow: 1;
  display: block;
  border-spacing: 10px 0;
  border-collapse: separate;
}
.infoPane table td:last-child {
  width: 100%;
}
.infoPane td {
  border-bottom: 1px dotted var(--shadow-color);
  vertical-align: middle;
  padding: 0.5rem;
}
.infoPane tr:last-child td {
  border-bottom: none;
}
.footNotes {
  text-align: right;
  font-size: 0.6rem;
  line-height: 0.6rem;
  padding: 0.3rem;
}
