:root {
  --theme-strong-color: hsl(227, 100%, 60%);
  --theme-main-color: hsl(227, 100%, 70%);
  --theme-weak-color: hsl(227, 100%, 85%);
  --text-strong-color: hsl(0, 0%, 20%);
  --text-main-color: hsl(0, 0%, 40%);
  --text-weak-color: hsl(0, 0%, 60%);
  --shadow-color: hsl(0, 0%, 80%);
  --blank-color: hsl(0, 0%, 100%);
  --red-color: hsl(0, 100%, 66%);
  --green-color: hsl(120, 100%, 35%);
  --bg-main-color: hsla(240, 100%, 91%, 1);
  --bg-draw-color: hsla(240, 33%, 97%, 0.9);
  --bg-line-color: hsla(0, 0%, 100%, 0);
  --footer-main-color: hsla(0, 0%, 100%, 0);
  --footer-draw-color: hsla(0, 0%, 100%, 0.8);
  --footer-line-color: hsla(0, 0%, 100%, 0.2);

  --bar-main-color: hsla(0, 0%, 100%, 0);
  --bar-draw-color: hsla(0, 0%, 100%, 0.8);
  --bar-line-color: hsla(0, 0%, 100%, 0.3);
  --result-main-color: hsla(0, 0%, 100%, 0);
  --result-draw-color: hsla(0, 0%, 100%, 0.9);
  --result-line-color: hsla(0, 0%, 100%, 0);
  --info-main-color: hsla(0, 0%, 100%, 0);
  --info-draw-color: hsla(0, 0%, 100%, 0.9);
  --info-line-color: hsla(0, 0%, 100%, 0);
  --drop-bg-color: hsla(0, 0%, 100%, 0);
  --drop-main-color: hsla(0, 0%, 100%, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-strong-color: hsl(227, 100%, 85%);
    --theme-main-color: hsl(227, 100%, 75%);
    --theme-weak-color: hsl(227, 35%, 35%);
    --text-strong-color: hsl(0, 0%, 80%);
    --text-main-color: hsl(0, 0%, 75%);
    --text-weak-color: hsl(0, 0%, 50%);
    --shadow-color: hsl(0, 0%, 25%);
    --blank-color: hsl(0, 0%, 10%);
    --red-color: hsl(0, 100%, 66%);
    --green-color: hsl(120, 100%, 35%);
    --bg-main-color: hsla(240, 30%, 30%, 1);
    --bg-draw-color: hsla(0, 0%, 10%, 0.9);
    --bg-line-color: hsla(0, 0%, 100%, 0);
    --footer-main-color: hsla(0, 0%, 0%, 0);
    --footer-draw-color: hsla(0, 0%, 15%, 0.8);
    --footer-line-color: hsla(0, 0%, 15%, 0.2);

    --bar-main-color: hsla(0, 0%, 100%, 0);
    --bar-draw-color: hsla(0, 0%, 15%, 0.8);
    --bar-line-color: hsla(0, 0%, 15%, 0.3);
    --result-main-color: hsla(0, 0%, 100%, 0);
    --result-draw-color: hsla(0, 0%, 15%, 0.9);
    --result-line-color: hsla(0, 0%, 100%, 0);
    --info-main-color: hsla(0, 0%, 100%, 0);
    --info-draw-color: hsla(0, 0%, 15%, 0.9);
    --info-line-color: hsla(0, 0%, 100%, 0);
    --drop-bg-color: hsla(0, 0%, 100%, 0);
    --drop-main-color: hsla(0, 0%, 100%, 0.7);
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  margin-bottom: 160px;
  background: linear-gradient(
        90deg,
        var(--bg-draw-color) 0%,
        var(--bg-draw-color) 98%,
        var(--bg-line-color) 98%,
        var(--bg-line-color) 100%
      )
      50% 0,
    linear-gradient(
        0deg,
        var(--bg-draw-color) 0%,
        var(--bg-draw-color) 98%,
        var(--bg-line-color) 98%,
        var(--bg-line-color) 100%
      )
      0 50%,
    var(--bg-main-color);
  background-size: 80px 80px;
  font-family: Helvetica, Arial, Meiryo, microsoft jhenghei, microsoft yahei, sans-serif;
}

a,
a:hover {
  color: var(--theme-main-color);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  body {
    margin-bottom: 320px;
  }
}
